.icon-Help,.icon-user,.icon-sort-down{
  font-size:22px;
  color:black;
  margin-right: 5px;
}

.text_decor a{
	text-decoration: none;
	color:black;
}

i{
 vertical-align: middle !important;
  }

 .nav-padding{
  vertical-align: middle !important;
} 

.header{
  background-color: #fff;
  box-shadow: 0 0px 0px 0 rgba(0,0,0,0), 0 0px 0 rgba(0,0,0,0) !important;

}

