<nav class="flex-row header">
  <a class="navbar-brand" href="#">
        <img style="width:200px;" src="https://upload.wikimedia.org/wikipedia/commons/d/d2/Marklogic-logo.PNG">
    </a>
  <ul class="nav navbar-nav flex-row justify-content-end nav-padding">
    <li class="text_decor"><a href="#"><i class="icon-Help"></i>  Help</a></li>
    <li class="dropdown text_decor">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-user"></i>  Username <i class="icon-sort-down"></i></a>
      <ul class="dropdown-menu pull-right">
        <li><a href="">Log Out</a></li>
      </ul>
    </li>
  </ul>
</nav>