.widget {
    margin: 7px;
    padding: 10px 5px;
    background: #fff;
}

.widget.h-2,
.links.h-2 {
    height: 350px;
}

.widget.h-1,
.links.h-1 {
    height: 150px;
}

.widget.w-1,
.links.w-1 {
    width: calc(50% - 24px);
}

.links {
    background: #f2f0f1;
}